* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
:root {
  --background: #F6EFE7; /* parchment */
  --accentGlow: #BBA073; /* brass-gold */
  --textColor: #281e14; /* deep ink-brown */
  --highlight: #8ab794; /* seafoam */
  --contrast: #B88A68; /* warm driftwood */
  --detail: #7A5B3A; /* warm rustic brown */
  --callToAct: #0486bf; /* coastal turquoise */
  --hover: #bcafa3; /* brown-gray */
  --border: #fae5c6; /* sand */
  --radius: 16px;
}
.petit-formal-script-regular {
  font-family: "Petit Formal Script", cursive;
  font-weight: 400;
  font-style: normal;
}
.charmonman-regular {
  font-family: "Charmonman", cursive;
  font-weight: 400;
  font-style: normal;
}
.charmonman-bold {
  font-family: "Charmonman", cursive;
  font-weight: 700;
  font-style: normal;
}
p {
  margin: 20px 0;
}
h3 {
  margin-top: 0;
  font-size: 1.6em;
  color: var(--detail);
  margin-bottom: 40px;
}
#logo {
  z-index: 7;
  width: 100%;
  text-align: center;
  align-items: center;
}
  #logo > img {
    width: 600px;
  }
#socials {
  position: absolute;
  z-index: 7;
  top: 125px;
  left: 30px;
  width: 120px;
  text-align: center;
}
  #socials > a img {
    width: 80px;
    position: fixed;
    top: 50px;
    left: 50px;
  }
#burgerMenu {
  position: fixed;
  z-index: 13;
  width: 75px;
  height: 60px;
  top: 50px;
  right: 45px;
  margin: 15px;
  cursor: pointer;
  opacity: 0.6;
}
  #burgerMenu:hover {
    opacity: 1;
  }
  .bar {
    width: 80px;
    height: 16px;
    margin: 4px 0;
    background: #000;
    border: 1px solid var(--border);
    border-radius: 4px;
  }
nav {
  position: fixed;
  z-index: 7;
  width: 225px;
  background: var(--textColor);
  opacity: 0.8;
  height: 100vh;
  right: -350px;
  text-align: right;
  padding-top: 145px;
  padding-right: 35px;
  border-left: 1px solid var(--callToAct);
}
  nav > a {
    display: block;
    font-size: 1.6em;
    color: var(--background);
    text-decoration: none;
    opacity: 0.8;
    margin: 5px;
  }
  nav > a:hover {
    color: var(--callToAct);
    opacity: 1;
  }
body {
  width: 100%;
  background: #333;
  font-size: 1.6em;
}
#grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: minmax(150px, auto);
  grid-template-areas: 
    "hdr hdr hdr hdr hdr hdr hdr hdr hdr hdr hdr hdr"
    "wel wel wel wel wel wel wel wel wel wel wel wel"
    "abt abt abt abt abt abt abt abt abt abt abt abt"
    "gal gal gal gal gal gal gal gal gal gal gal gal"
    "cnt cnt cnt cnt cnt cnt cnt cnt cnt cnt cnt cnt"
    "ftr ftr ftr ftr ftr ftr ftr ftr ftr ftr ftr ftr";
}
header {
  grid-area: hdr;
  height: 500px;
  background: url('../assets/images/shell/HeaderLightBG.png');
  border-bottom: 1px solid #fff;
  background-repeat: none;
  background-size: cover;
}
#welcome {
  display: grid;
  grid-area: wel;
  background: url('../assets/images/home/homeBG.png');
  text-align: center;
  padding-top: 50px;
  font-size: 1.6em;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #fff;
}
  #welcome h1 {
    color: var(--callToAct);
    text-shadow: 2px 2px 5px var(--textColor);
  }
  #welcome p {
    color: var(--textColor);
    line-height: 1.5;
    font-weight: 600;
    text-shadow: 2px 2px 5px var(--background);
    padding: 0 40px;
  }
#featured {
  margin-top: 35px;
  justify-content: center;
}
  #featured img {

    width: 250px;
    border: 1px solid var(--border);
    border-radius: 16px;
    margin: 10px;
    margin-bottom: 40px;
  }
  #featured h2 {
    color: var(--callToAct);
    text-shadow: 1px 1px 2px var(--textColor);
    margin-top: 40px;
  }
  #featured > a {
    display: inline-block;
    text-decoration: none;
  }

#about {
  display: grid;
  grid-area: abt;
  grid-template-areas:
    "topa topa topa topa" 
    "lefa lefa rita rita"
    "lefa lefa rita rita"
    "lefa lefa rita rita";
  background: #eacda3;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #d6ae7b, #eacda3);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #d6ae7b, #eacda3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 50px 100px;
  border-bottom: 1px solid #fff;
  column-gap: 40px;
}
  #about h1 {
    color: var(--callToAct);
    text-shadow: 2px 2px 5px var(--textColor);
    font-size: 3em;
  }
  #about p {
    margin-top: 0;
    color: var(--textColor);
    line-height: 1.2;
    font-size: 1.2em;
    color: var(--textColor);
    margin-bottom: 40px;
  }
    #topAbout {
      display: grid;
      grid-area: topa;
      grid-template-columns: repeat(1, 1fr);
      justify-items: center;
    }
    #leftAbout {
      display: grid;
      grid-area: lefa;
      grid-template-columns: repeat(1, 1fr);
      justify-items: left;
    }
      #bioPic {
        width: 500px;
        border-radius: var(--radius);
        border: 1px solid var(--border);
      }
    #rightAbout {
      display: grid;
      grid-area: rita;
      grid-template-columns: repeat(1, 1fr);
      justify-items: right;

    }

#gallery {
  display: grid;
  grid-area: gal;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "topg topg topg"
    "img img img"
    "img img img"
    "img img img";
  background: #70e1f5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffd194, #70e1f5);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffd194, #70e1f5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 50px 100px;
  border-bottom: 1px solid #fff;
  column-gap: 40px;
  text-align: center;
}
  #gallery h1 {
    color: var(--callToAct);
    text-shadow: 2px 2px 5px var(--textColor);
    font-size: 3em;
  }
  #gallery h3 {
    text-shadow: 1px 1px 3px var(--background);
    color: var(--textColor);
  }
  #gallery p {
    margin-top: 0;
    color: var(--textColor);
    line-height: 1.2;
    font-size: 1.2em;
    color: var(--textColor);
    margin-bottom: 40px;
  }
    #topGallery {
      display: grid;
      grid-area: topg;
      grid-template-columns: repeat(1 1fr);
      justify-items: center;
    }
    #galleryIMGs {
      display: grid;
      grid-area: img;
      grid-template-columns: repeat(3, 1fr);
      justify-items: center;
      gap: 10px;
    }
    .galIMG {
      width: 100%;
      border-radius: 8px;
      box-shadow: 3px 3px 5px #000;
      border: 1px solid rgba(255, 255, 255, .67);
    }

#contact {
  display: grid;
  grid-area: cnt;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "topc topc" 
    "lefc ritc";
  background: url(../assets/images/contact/contactBG.png);
  padding: 50px 100px;
  border-bottom: 1px solid #fff;
  column-gap: 40px;
  text-align: center;
}
  #contact h1 {
    color: var(--callToAct);
    text-shadow: 2px 2px 5px var(--textColor);
    font-size: 3em;
  }
  #contact h3 {
    text-shadow: 1px 1px 3px var(--background);
    color: var(--textColor);
  }
  #contact p {
    margin-top: 0;
    color: var(--textColor);
    line-height: 1.2;
    font-size: 1.2em;
    color: var(--textColor);
    margin-bottom: 40px;
  }
    #topContact {
      display: grid;
      grid-area: topc;
      grid-template-columns: repeat(1, 1fr);
      justify-items: center;
    }
    #leftContact {
      display: grid;
      grid-area: lefc;
      grid-template-columns: repeat(1, 1fr);
      justify-items: center;
      border-right: 3px solid var(--callToAct);
      padding-right: 40px;
      margin-right: -15px;
    }
      #contactIMG {
        width: 525px;
        border-radius: var(--radius);
        border: 1px solid var(--border);
      }
    #rightContact {
      display: grid;
      grid-area: ritc;
      grid-template-columns: repeat(1, 1fr);
      justify-items: center;
    }
    #contactForm {
      background: rgba(255, 255, 255, 0.3);
      border-radius: 16px;
      padding: 25px 35px;
      box-shadow: 0 4px 12px rgba(0,0,0,0.1);
      text-align: left;
      width: 100%;
      max-width: 500px;
    }
      .formRow {
        margin-bottom: 20px;
      }
      #contactForm label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
        color: var(--textColor);
      }
      #contactForm input,
      #contactForm textarea {
        width: 100%;
        padding: 8px 10px;
        border-radius: 8px;
        border: 1px solid var(--border);
        font-size: 1rem;
        background: rgba(255, 255, 255, 0.8);
      }
      #contactForm button {
        display: block;
        margin-top: 10px;
        padding: 10px 30px;
        border-radius: 999px;
        border: none;
        background: var(--callToAct);
        color: var(--background);
        font-size: 1rem;
        cursor: pointer;
        transition: 0.3s;
      }
      #contactForm button:hover {
        background: var(--highlight);
      }



  footer {
    display: grid;
    grid-area: ftr;
    height: 250px;
    background: url(../assets/images/shell/footerBG.png);
    text-align: center;
    padding: 25px;

    position: relative;
  }
  #footerLogoBox {
    position: absolute;
    justify-content: left;
    align-content: left;
    width: 300px;
  }
    #footerLogo {
      width: 200px;
    }
    footer > p {
      padding: 0;
      margin: 0;
      color: var(--textColor);
      font-size: 0.8em;
      font-weight: 500;
      text-shadow: 1px 1px 5px var(--background);
    }
    footer > p:hover {
      text-decoration: underline;
    }
    #copy {
      padding-top: 25px;
      font-size: 1em;
      color: var(--background);
    }
  #footerSocialsBox {
    position: absolute;
    right: 40px;
    top: 40px;
  }
    #footerIcon {
      padding: 5px;
    }